<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" routerLink="/">Contact Manager</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="btn btn-primary me-1" *ngIf="checkLogin();" routerLink="/dashboard">List Contacts</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-warning ms-1" *ngIf="checkLogin();" routerLink="/contact/add">Add Contact</a>
          </li>          
        </ul>
        <form class="d-flex">
          <div *ngIf="!checkLogin(); else logoutBlock">
            <a routerLink="/login" class="btn btn-success me-2">Login</a>
            <a routerLink="/register" class="btn btn-primary ms-2">Register</a>
          </div>
          <ng-template #logoutBlock>
            <button class="btn btn-success me-2">{{ name }}</button>
            <a routerLink="/logout" class="btn btn-danger me-2">Logout</a>
          </ng-template>
        </form>
      </div>
    </div>
</nav>