<app-navbar></app-navbar>
<div class="container-fluid">
  <div class="row" *ngFor="let contact of contacts; let idx = index;">
    <div class="col-md-3">{{ contact.name }}</div>
    <div class="col-md-3">{{ contact.phone }}</div>
    <div class="col-md-3">
      <button class="btn btn-outline-light" routerLink="/contact/edit/{{contact._id}}">Update</button>
    </div>
    <div class="col-md-3">
      <button class="btn btn-outline-light" (click)="onDeleteContact(contact)">Delete</button>
    </div>
  </div>
</div>