<app-navbar></app-navbar>
<div class="container mt-5 pt-5 mb-5">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4 col-xl-4">
            <div class="card">
                <div class="card-body">
                    <div class="text-center m-auto">
                        <h4 class="text-uppercase text-center pb-2">Register</h4>
                    </div>
                    <div [class]="isSuccess? 'alert alert-success':'d-none'" class="my-2">{{ message }} <br><a routerLink="/login">Please Login.</a> </div>
                    <div [class]="isError? 'alert alert-danger':'d-none'" class="my-2">{{ message }}</div>
                    <form #regForm="ngForm" (ngSubmit)="onSubmitForm()">
                        <div class="form-group mb-3">
                            <div class="input-group bg-light">
                                <input #ufname="ngModel" [(ngModel)]="user.fullName"
                                    [class.is-invalid]="ufname.errors && ufname.touched" type="text" name="fullName"
                                    placeholder="Enter Full Name" class="form-control" minlength="3" required="">
                            </div>
                            <div *ngIf="ufname.errors && ufname.touched">
                                <div class="text-danger" *ngIf="ufname.errors.required">Full Name is required</div>
                                <div class="text-danger" *ngIf="ufname.errors.minlength">Full Name must be at least 3 characters</div>
                            </div>
                        </div>
                        <div class="form-group mb-3">
                            <div class="input-group bg-light">
                                <input #uemail="ngModel" [(ngModel)]="user.email"
                                    [class.is-invalid]="uemail.errors && uemail.touched" [class.is-invalid]="uemail.touched && !emchk" type="email" name="email" [class.is-valid]="emchk" (blur)="onValidateUser(user.email)"
                                    placeholder="Enter Email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" class="form-control" email required="">
                            </div>
                            <div *ngIf="uemail.touched">
                                <div class="text-danger" *ngIf="uemail.errors || !uemail.valid else elseBlock">A Valid Email is required</div>
                                <ng-template #elseBlock>
                                    <div class="text-danger" *ngIf="!emchk">Email already registered.</div>
                                </ng-template>
                            </div>
                        </div>
                        <div class="form-group mb-3">
                            <div class="input-group bg-light">
                                <input #upass="ngModel" [(ngModel)]="user.password"
                                    [class.is-invalid]="upass.errors && upass.touched" type="password" minlength="6"
                                    class="form-control" value="" name="password" placeholder="Enter Password"
                                    required="">
                            </div>
                            <div *ngIf="upass.errors && upass.touched">
                                <div class="text-danger" *ngIf="upass.errors.required">Password is required</div>
                                <div class="text-danger" *ngIf="upass.errors.minlength">Password must be at least 6 characters</div>
                            </div>
                        </div>
                        <div class="form-group mb-3">
                            <div class="input-group bg-light">
                                <input #cpass="ngModel" [(ngModel)]="chkpass" [class.is-invalid]="cpass.touched && (chkpass != upass.value)" type="password" class="form-control"
                                       name="confpass" placeholder="Confirm Password" minlength="6" required="">
                            </div>
                            <div *ngIf="cpass.touched && cpass.dirty">
                                <div class="text-danger" *ngIf="chkpass != upass.value">Please confirm your password</div>
                            </div>
                        </div>
                        <div class="form-group mb-3 d-flex justify-content-between">
                            <button class="btn btn-primary btn-block" [disabled]="regForm.form.invalid" [disabled]="pass"
                                type="submit">Sign Up </button>
                        </div>
                    </form>
                    <p class="pt-2">Already Registered? <a routerLink="/login" class="theme-secondary-text">Login
                            Here!</a></p>
                </div>
            </div>
        </div>
    </div>
</div>